@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.league-spartan {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.about-text {
  max-width: 600px;    /* Kutunun genişliğini daralt ki 3 satırda dursun */
  line-height: 1.8;    /* Satırlar arası mesafeyi aç */
  font-size: 18px;     /* İsteğe göre biraz büyütebilirsin */
  text-align: justify; /* Sağ ve sol kenarı hizalar */
}
